@import "../node_modules/bootstrap/scss/bootstrap.scss";
body{
    background-color:antiquewhite;
    padding: 2rem;
}

.todo{
    background-color: cadetblue;
    margin-top: 10px;
    padding:  10px;
    border-radius: 6px;
    position: relative;
    .remove{
        position: absolute;
        top: 2px;
        right: 10px;
        color: wheat;
        cursor: pointer;
        padding: 2px;
    }
}